@inherits LayoutComponentBase

<div class="sidebar" style="background-color: rgb(94, 45, 133); background-image: none;">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>
