@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

@font-face {
    font-family: Didona;
    src: url(../didona_[allfont.net].ttf);
}

@font-face {
    font-family: Forum;
    src: url(../Forum.ttf);
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.indextext {
    font-family: 'Forum','Helvetica Neue', Helvetica, Arial, sans-serif;
}

.didonatext {
    font-family: 'Didona','Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

h3 {
    color: rgb(94, 45, 133);
}

.btn-prime {
    margin-top: 2px;
    background-color: rgb(100, 176, 112);
    color: rgb( 0, 55, 25);
    color: white;
    border-radius: 0px;
    border-color: rgb(100, 176, 112);
}

    .btn-prime.focus, .btn-prime:focus {
        box-shadow: none;
    }

    .btn-prime:hover {
        background-color: rgb(100, 176, 112);
        border-color: rgb(100, 176, 112);
        color: rgb( 0, 55, 25);
    }

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

        .main .top-row a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
         Never collapse the sidebar for wide screens 
        display: block;
    }
}

.TopCardPicker {
    text-align: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 8vh;
}

.draggable {
    display: inline-block;
}

.zero .fulltext {
    display: none;
}

.onmodel .fulltext {
    display: block;
}

.onmodel .zerotext {
    display: none;
}

.zero .zerotext {
    color: white;
    font-size: 1vw;
    vertical-align: middle;
    text-align: center;
    padding: 2px;
    cursor: pointer;
    display: block;
    background-color: rgb(100, 176, 112);
    border: 2px solid white;
}

.PurpleLayout .CardDestination {
    border: 1px dotted rgba(255,255,255, .5);
}

.GreenLayout .CardDestination {
    border: 1px dotted rgba( 0, 55, 25, .5);
}

.onmodel {
    font-size: 0.6vw;
    text-align: center;
    vertical-align: bottom;
}

.sticker .onmodel {
    font-size: 0.7vw;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 10px;
    text-shadow: 1px 0 1px #8461a0, 0 1px 1px #8461a0, -1px 0 1px #8461a0, 0 -1px 1px #8461a0;
}

/*rgb(100, 176, 112)*/

.layout {
    height: 90%;
    position: sticky;
    display: block;
}

.PurpleLayout {
    background-image: url(../PrintLayouts/box_moc_violet.jpg);
    color: white;
}

.GreenLayout {
    background-image: url(../PrintLayouts/box_moc_green.jpg);
    color: rgb( 0, 55, 25);
}

.PurpleLayout .onmodel {
    text-shadow: 1px 0 1px rgb(94, 45, 133), 0 1px 1px rgb(94, 45, 133), -1px 0 1px rgb(94, 45, 133), 0 -1px 1px rgb(94, 45, 133);
}

.PurpleChocoLayout {
    background-image: url(../PrintLayouts/choco_moc_violet.jpg);
    color: white;
}

.GreenChocoLayout {
    background-image: url(../PrintLayouts/choco_moc_green.jpg);
    color: white;
}

.UpLayout {
    background-image: url(../PrintLayouts/zipbagUp.jpg);
    color: white;
}

    .UpLayout .CardDestination {
        align-items: normal;
    }

    .UpLayout .onmodel {
        font-size: 1vw;
    }

.DownLayout {
    background-image: url(../PrintLayouts/zipbagDown.jpg);
    color: white;
}

    .DownLayout .CardDestination {
        align-items: normal;
    }

.DownLayout .onmodel {
    font-size: 1vw;
}

.WhiteText {
    color: white;
}

.WhiteLayout {
    color: rgb(94, 45, 133);
}

/* Кнопка выпадающего списка */
.dropbtn {
    background-color: rgb(94, 45, 133);
    color: white;
    padding: 6px;
    font-size: 16px;
    border: none;
    padding-right:10px; 
    padding-left:10px;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
    position: absolute;
    display: inline-block;
    font-size: 16px;
    right: 0;
}

    /*rgb(94, 45, 133)*/
    /*rgb(100, 176, 112*/

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Ссылки внутри выпадающего списка */
.dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {
    display: block;
}
/* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
.dropdown:hover .dropbtn {
    background-color: rgb(100, 176, 112);
}