@page "/about"

<h3>О нас</h3>
<div class="indextext" style=" color: rgb(94, 45, 133); font-size: 1.3vw;">
    Проект подготовлен группой: <a style=" color: rgb(100, 176, 112);" href="https://vk.com/frommondaytothursday">с понедельника по четверг</a>
    <br />
    Если у вас есть предложения о сотрудничестве или идеи по развитию проекта (дополнительные макеты, новые наборы цитат или картин), обращайтесь в личные сообщения группы.
    <br />
    <br />
    Макеты отрисованы: <a style=" color: rgb(100, 176, 112);" href="https://vk.com/shafnerart">Marsa Art</a>
</div>

@code {


}