@using Models

@code {
    [CascadingParameter] DragNDropContainer Container { get; set; }

    [Parameter]
    public TextBlock DragableText { get; set; }


    private void HandleDragStart(TextBlock dragableText)
    {
        Container.Payload = dragableText;
    }

}

<div class="draggable img-responsive" draggable="true"
     title="Вы можете перетаскивать этот блок"
     @ondragstart="@(() => HandleDragStart(DragableText))">
    <div class=@DragableText.InnerClassInfo>
        @if (!(DragableText.Path is null))
            {
             <img class="fulltext img-responsive" style ="max-width: 100%; max-height: 50vh; margin-right: auto; margin-left: auto;" src=@DragableText.Path />
             }
        <div class="fulltext">
            @foreach (var t in DragableText.FullText)
            {
                <div>@t</div>
            }
        </div>
        <div class="zerotext">
            @DragableText.Text
        </div>
    </div></div>