@page "/"

<h1 style="color: rgb(100, 176, 112)">Что это за проект?</h1>


<div class="indextext" style=" color: rgb(94, 45, 133); font-size: 1.3vw;">
    <b>Мысль о том, что можно совместить идейную и праздничную стороны Дня женской солидарности, витала в воздухе давно.</b>
    <div style="display:flex;">
        <div style="max-width: 20%; margin-left: auto; margin-right: auto; margin-top: 15px; margin-bottom: 15px; ">
            <img src="./PrintLayouts/p033zkg9.jpg" style=" max-width: 100%; margin-left:auto; margin-right:auto" />
        </div>
        <ul type="square" style="margin-top: 1rem;  ">
            <li>
                Потому что в условиях нашего серого холодного марта порицать женщин за возможность порадоваться и поесть подаренные конфеты — это грустно.
            </li>
            <li>
                Потому что если ставить людей перед выбором: шоколадка или лекция по истории с грустными выводами о нашей жизни, результат будет вполне ожидаем.
            </li>
            <li>
                Потому что мы все тоже любим и хотим делать подарки.
            </li>
            <li>
                Потому что это повод рассказать о выдающихся женщинах на Восьмое марта и не вызвать волну негатива.
            </li>
        </ul>
    </div>
    <b>В итоге получилось несколько видов упаковок для сладостей и небольших подарков к Восьмому марта.</b>
    <br />
    Все упаковки выполнены в цветах суфражисток. Это отличный повод рассказать о символике и истории движения, особенно если вам зададут вопрос, почему взяты именно такие нетипичные для восьмимартовской упаковки цвета.
    <br />
    На упаковках расположены факты из женской истории (на коробочках для печенья/мелких подарков), цитаты признанных писательниц (на упаковках для конфет) и картины классических художниц (на обертках для шоколадок).
    <br />
    Вы сможете сами выбрать понравившиеся факты и цитаты, просто перетащив нужные блоки на макет, или воспользоваться готовыми тематическими наборами, а затем распечатать развёртки (желательно в типографии) и также самостоятельно переупаковать в них любые сладости (и не только), подходящие по размеру и форме.
    <br />
    <br />
    <b>Во время работы с макетом текст может наложиться неровно. Не переживайте: во время формирования макета все неровности будут исправлены, и вы получите красивую упаковку.</b>
</div>