@page "/instruction"

<h3>Рекомендации по печати</h3>

<div class="indextext" style=" color: rgb(94, 45, 133); font-size: 1.2vw;">
    <b>Наклейки, обёртки для конфет и шоколада предназначены для печати на формате А4. Коробочки - на формате А3.</b> 
    При этом наклейки будут иметь диаметр 6,5 см, 
    а упаковки для конфет и шоколада подойдут для переупаковки шоколадных и вафельных конфет и стандартных плиток шоколада.
    <br />
    Чтобы вам было проще, в названии каждого макета из вышеперечисленных будет указан формат бумаги,
    на котором его нужно распечатать. Вам не придётся самостоятельно масштабировать,
    добавлять поля или как-то менять макет, все размеры уже
    подсчитаны и выставлены. Всё, что от вас требуется в работе с этими макетами — нажать «Печать» и выставить
    правильный формат (А4 или А3).
    <br />
    <br />
    <b>Карточки-подложки имеют вариативные размеры.</b> 
    Поэтому их не получается вписать в стандартные размеры листов (А4 или А3), и каждый макет формируется без полей, 
    но с небольшими вылетами под резку (например, макет 4х6см на самом деле получится 4,2х6,2см — после обрезки 3,8х5,8см). 
    В названии файла также указаны размеры. Карточки предполагают двухстороннюю печать, размеры обеих сторон совпадают. 
    Также эти макеты можно использовать как открытки.
    <br />
    <br />
    <b>Очень не советуем печатать файл, предназначенный, например, для печати на А4, на формате А3, 
        это может повлиять на качество изображения.</b> Белые поля упаковок нужно обрезать.  
    <br />
    <br />
    <b>Советуем при возможности распечатать макеты в типографии или студии печати.</b> 
    Там же можно попросить обрезать поля — как правило, в таких местах есть для этого специальные приспособления 
    (подходят для всех макетов, кроме коробок и наклеек, их придется вырезать вручную).
    <br />
    <br />
    В макете с упаковкой конфет есть метки реза - тонкие линии, которые помогут вам получить равные прямоугольники-фантики, 
    которые идеально подходят для конфет «с уголочками» (см. картинку-мокап). 
    Для их изготовления макеты нужно будет напечатать с двух сторон: с одной стороны листа — макет с наружной стороной обёртки, 
    а с другой - один из понравившихся вам наборов с цитатами.
    <br />
    <br />
    Проще всего прийти в типографию и пощупать образцы бумаги, чтобы подобрать идеальный вариант на ваш вкус, 
    но мы можем дать примерные рекомендации. 
    <b>Коробочки лучше печатать на картоне; дома можете попробовать бумагу для акварели. 
    Фантики для конфет — на тонкой мелованной бумаге, обёртки для шоколадок - на тонкой глянцевой (но потолще, чем фантики). 
    Наклейки — лучше всего на глянцевой бумаге, но можно на самоклейке или самой обычной офисной бумаге, а затем приклеить клеем.</b>
</div>

@code {

}
