@page "/instruction"

<h3>Рекомендации по печати</h3>

<div class="indextext" style=" color: rgb(94, 45, 133); font-size: 1.3vw;">
    В названии каждого макета указан формат бумаги (в большинстве случаев это А4),
    на котором его нужно распечатать. Вам не придётся самостоятельно масштабировать,
    добавлять поля или как-то менять макет, все размеры уже
    подсчитаны и выставлены. Всё, что от вас требуется - нажать «Печать» и выставить
    правильный формат (А4 или А3).
    <br />
    <br />
    Очень не советуем печатать файл, предназначенный, например, для печати на А4, на формате А3, это сильно повлияет на качество изображения. В каждой из упаковок есть белые поля, которые нужно обрезать.
    <br />
    <br />
    Советуем при возможности распечатать макеты в типографии или студии печати. Там же можно попросить обрезать поля - как правило, в таких местах есть для этого специальные приспособления (подходят для всех макетов, кроме коробок и наклеек, их придется вырезать вручную).
    <br />
    <br />
    В макете с упаковкой конфет есть метки реза - тонкие линии, которые помогут вам получить равные прямоугольники-фантики, которые идеально подходят для конфет «с уголочками» (см. картинку-мокап). Для их изготовления макеты нужно будет напечатать с двух сторон: с одной стороны листа - макет с наружной стороной обёртки, а с другой - один из понравившихся вам наборов с цитатами.
    <br />
    <br />
    Проще всего прийти в типографию и пощупать образцы бумаги, чтобы подобрать идеальный вариант на ваш вкус, но мы можем дать примерные рекомендации. Коробочки лучше печатать на картоне; дома можете попробовать бумагу для акварели. Фантики для конфет - на тонкой мелованной бумаге, обёртки для шоколадок - на тонкой глянцевой (но потолще, чем фантики). Наклейки лучше всего на глянцевой бумаге, но можно на самоклейке или самой обычной офисной бумаге.
</div>

@code {

}
